a {
    text-decoration: none;
    color: #2f4d7e;
}


a:hover {
    color: #f3cf6c;
}

.item {
    /* font-family: 'Luckiest Guy', cursive; */
    font-size: 20pt;
    margin: 10px;
    /* background-color: rgb(255, 255, 176); */
    padding: 5px;
    border-radius: 3px;
    margin-top: 10px;
    /* box-shadow: 2px #2f4d7e; */
}